/**
 * demo style
 */

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.core-container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

.core-content {
	background: #F5F5F5;
	padding: 57px 0;

	&:after {
		clear: both;
		content: '';
		display: block;
	}

	.primary {
		clear: none;
		float: right;
		margin: 0 0 0 -300px;
		width: 100%;
	}

	.demo-container {
		overflow: hidden;
		margin: 0 0 0 300px;
		font-size: 14px;
	}

	.secondary {
		clear: none;
		float: left;
		overflow: hidden;
		width: 260px;
	}
}
