@import '../../scss/calypso-colors';

/* This hack is used to prevent the body from scrolling when the modal is showing */
body.dops-modal-showing {
	overflow: hidden;
}

.dops-modal {
	position: fixed;
	top: 10px;
	left: 0px;
	right: 0px;
	display: block;
	margin: 0 auto;
	max-width: 550px;
	width: 90%;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	transition: all 0.5s;
	z-index: 100;
	clear: both;
}

.dops-modal-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}