@import '../../scss/layout';
@import '../../scss/typography';
@import '../../scss/calypso-colors';

$title: #f9f9f9;
$meta: #AAAAAA;
$border: #DDDDDD;
$section-border: #DDDDDD;

/* Card */

.dops-card {
	position: relative;
	margin: 0 auto 10px auto;
	box-sizing: border-box;
	background: $white;
	box-shadow: 0 0 0 1px transparentize( lighten( $gray, 20% ), .5 ),
		0 1px 2px lighten( $gray, 30% );

	@include clear-fix;

	@include breakpoint( ">480px" ) {
		margin-bottom: 16px;
	}
}

.dops-card-title {
	background-color: $title;
	color: black;
	font-family: $sans;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 1px solid $border;
	padding: 10px 16px;
	margin: 0;

	@include breakpoint( ">480px" ) {
		padding: 16px 24px;
	}

	.dops-card-meta {
		color: $meta;
		float: right;
	}
}

/* Section */

.dops-card-section {
	@include clear-fix;
	font-size: 14px;

	padding: 16px;

	@include breakpoint( ">480px" ) {
		padding: 24px;
	}

	border-bottom: 1px solid $section-border;
	&:last-child {
		border-bottom: none;
	}

	.dops-card-section-label {
		color: black;
		font-size: 12px;
		font-weight: normal;
		text-transform: uppercase;
	}

	.dops-card-section-orient-vertical {
		.dops-card-section-label {
			margin-bottom: 10px;
		}
	}

	.dops-card-section-orient-horizontal {
		.dops-card-section-label {
			float: left;
			width: 30%;
			@media all and ( max-width: 590px ) {
				margin-bottom: 10px;
				float: none;
				width: 100%;
			}	
		}
		
		.dops-card-section-content {
			float: right;
			width: 70%;
			@media all and ( max-width: 590px ) {
				float: none;
				width: 100%;
			}
		}
	}
}
		
/* Footer */

.dops-card-footer {
	background: #f9f9f9;
	margin: -1px -20px -25px;
	padding: 15px 20px;
}



/* Icon */

.dops-card-icon {
	float: right;
	text-transform: capitalize;

	.genericon {
		border-radius: 50%;
		width: 16px;
		height: 16px;
		margin-right: 10px;
		color: #fff;
		background: #81bf16;
	}
}