@import "../../scss/calypso-colors";
@import '../../scss/akismet-colors';

.dops-password-box {
	position: relative;

	.dops-text-input {
		margin: 0;
		padding: 7px 14px;
		width: 100%;
		color: $gray-dark;
		font-size: 16px;
		line-height: 1.5;
		border: 1px solid lighten( $gray, 20% );
		background-color: $white;
		transition: all .15s ease-in-out;
		box-sizing: border-box;
		display: block;
		width: 100%;
		padding-right: 32px;

		&::placeholder {
			color: $gray;
		}

		&:hover {
			border-color: lighten( $gray, 10% );
		}

		&:focus {
			border-color: $blue-wordpress;
			outline: none;
			box-shadow: 0 0 0 2px $blue-light;

			&::-ms-clear {
				display: none;
			}
		}

		&:disabled {
			background: $gray-light;
			border-color: lighten( $gray, 30% );
			color: lighten( $gray, 10% );

			&:hover {
				cursor: default;
			}

			&::placeholder {
				color: lighten( $gray, 10% );
			}
		}
	}

	&.dops-password-box--hidden .dops-text-input {
		color: darken( $gray, 5% );
	}

	.dops-password-box__toggle-visibility {
		display: block;
		cursor: pointer;
		position: absolute;
		right: 8px #{"/*rtl:ignore*/"};
		top: 8px;
		user-select: none;

		.gridicon {
			fill: darken( $gray, 10% );

			&:hover {
				fill: darken( $gray, 10% );
			}
		}

		&:focus .gridicon {
			outline: 1px dotted darken( $gray, 10% );
		}
	}
}
