@import '../../scss/calypso-colors';
@import '../../scss/akismet-colors';
@import '../../scss/calypso-form';

.dops-password-box {
	&.dops-password-box-hidden {
		.dops-password-field {
			color: #DDDDDD;
		}		
	}

	.dops-password-field {
		display: inline-block;
		width: 100%;
		border: 1px solid #DDD;
		overflow: scroll;
		@extend %form-field;
	}

	svg {
		float: right;
		fill: #a8bece;
	}
}