@import "../../scss/calypso-colors";
@import "../../scss/color-functions";

// TODO: factor out these colors
$green: #518d2a;
$lighter-green: #57972d;
$darker-green: #2B4B16;
$blue: #029DD6;

// ==========================================================================
// Buttons
// ==========================================================================

// resets button styles
:local button {
	background: transparent;
	border: none;
	outline: 0;
	padding: 0;
	font-size: 14px;
	-webkit-appearance: none;
	appearance: none;
	vertical-align: baseline;
}

:local .button {
	background: $gray-light;
	border-color: lighten( $gray, 20% );
	border-style: solid;
	border-width: 1px 1px 2px;
	color: $gray-dark;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	outline: 0;
	overflow: hidden;
	font-weight: 600;
	text-overflow: ellipsis;
	text-decoration: none;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 21px;
	border-radius: 4px;
	padding: 7px 14px 9px;
	-webkit-appearance: none;
	appearance: none;

	&:hover {
		border-color: lighten( $gray, 10% );
		color: $gray-dark;
	}
	&:active {
		border-width: 2px 1px 1px;
	}
	&:visited {
		color: $gray-dark;
	}
	&[disabled],
	&:disabled {
		color: lighten( $gray, 30% );
		background: $white;
		border-color: lighten( $gray, 30% );
		cursor: default;

		&:active {
			border-width: 1px 1px 2px;
		}
	}
	&:focus {
		border-color: $blue-medium;
		box-shadow: 0 0 0 2px $blue-light;
	}
	&.is-compact {
		padding: 7px;
		color: darken( $gray, 10% );
		font-size: 11px;
		line-height: 1;
		text-transform: uppercase;

		&:disabled {
			color: lighten( $gray, 30% );
		}
		.gridicon {
			top: 4px;
			margin-top: -8px;
		}
	}
	&.hidden {
		display: none;
	}
	.gridicon {
		position: relative;
			top: 4px;
		margin-top: -2px;
		width: 18px;
		height: 18px;
	}
}

// Primary buttons
:local .button.is-primary {
	background: $blue-medium;
	border-color: $blue-wordpress;
	color: $white;

	&:hover,
	&:focus {
		border-color: $blue-dark;
		color: $white;
	}
	&[disabled] {
		background: tint( $blue-light, 50% );
		border-color: tint( $blue-wordpress, 55% );
		color: $white;
	}
	&.is-compact {
		color: $white;
	}
}

// Scary buttons
:local .button.is-scary,
:local .button.is-dangerous {
	color: $alert-red;

	&[disabled] {
		color: lighten( $alert-red, 30% );
	}
	&:hover,
	&:focus {
		border-color: $alert-red;
	}
	&:focus {
		box-shadow: 0 0 0 2px lighten( $alert-red, 20% );
	}
}

:local .button.is-primary.is-scary,
:local .button.is-destructive {
	background: $alert-red;
	border-color: darken( $alert-red, 20% );
	color: $white;

	&:hover,
	&:focus {
		border-color: darken( $alert-red, 30% );
	}
	&[disabled] {
		background: lighten( $alert-red, 20% );
		border-color: tint( $alert-red, 30% );
	}
}

// ==========================================================================
// Deprecated styles
//
// `button.is-destructive` and ``.button.is-dangerous` are also deprecated
// ==========================================================================

// Positions and resets font styles of noticons applied to buttons
:local .button.noticon {
	line-height: inherit;

	&:before {
		display: inline-block;
		vertical-align: middle;
		margin-top: -2px;
		font-size: 16px;
		font-style: normal;
		font-weight: normal;
	}
}

// ==========================================================================
// Resets
// ==========================================================================

// Turn Reset 'buttons' into regular text links
input {
	&[type=reset],
	&[type=reset]:hover,
	&[type=reset]:active,
	&[type=reset]:focus {
		background: 0 0;
		border: 0;
		padding: 0 2px 1px;
		width: auto;
		box-shadow: none;
	}
}

// Buttons within sentences sit on the text baseline.
p .button {
	vertical-align: baseline
}

// Firefox Junk
button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
	border-width: 1px 0;
	border-style: solid none;
	border-color: transparent;
	padding: 0
}
