@import "../../scss/calypso-colors";
@import '../../scss/layout';
@import '../../scss/extends';

.dops-notice {
	flex: 1 100%;
	display: flex;
		flex-wrap: wrap;
	position: relative;
	margin-bottom: 24px;
	border-radius: 1px;
	background: $gray-light;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.4285;
	animation: appear .3s ease-in-out;

	.dops-notice__text {
		flex-grow: 1;
		flex-basis: 100px;

		padding: 11px 24px;
		padding-right: 0;

		@include breakpoint( ">660px" ) {
			padding: 13px 48px;
		}
	}

	@include breakpoint( ">660px" ) {
		font-size: inherit;

		&::before {
			@extend %noticon;
			content: '\f456';
			position: absolute;
				top: 23px;
				left: 20px;
			margin: -12px 0px 0 -8px;
			font-size: 24px;
			line-height: 1;
		}
	}

	.dops-notice__dismiss {

		&.dops-button .gridicon {
			top: 0;
		}

		&:focus {
			box-shadow: 0 0 4px darken( $gray-light, 10 );
		}
	}

	// Success!
	&.is-success {
		background: $alert-green;

		.dops-notice__dismiss:focus {
			box-shadow: 0 0 4px darken( $alert-green, 10 );
		}

		@include breakpoint( ">660px" ) {
			&:before {
				content: '\f418';
			}
		}
	}

	// Warning
	&.is-warning {
		background: $alert-yellow;

		.dops-notice__dismiss:focus {
			box-shadow: 0 0 4px darken( $alert-yellow, 10 );
		}

		&:before {
		}
	}

	// Error! OHNO!
	&.is-error {
		background: $alert-red;

		.dops-notice__dismiss:focus {
			box-shadow: 0 0 4px darken( $alert-red, 10 );
		}

		&:before {
		}
	}

	// Information
	&.is-info {
		background: $blue-wordpress;

		.dops-notice__dismiss:focus {
			box-shadow: 0 0 4px darken( $blue-wordpress, 10 );
		}

		@include breakpoint( ">660px" ) {
			&:before {
				content: '\f455';
			}
		}
	}
}

// General styles for html elements
// rendered inside a notice
.dops-notice {

	a,
	button.is-link {
		display: inline;
		margin-left: 8px;
		text-align: left;
		line-height: 1.4285;
		font-weight: 600;
		text-decoration: underline;

		// @media not all, only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 2) {
		// 	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, #fff 75%);
		// 	background-repeat: repeat-x;
		// }
	}

	ul {
		margin-bottom: 0;
		margin-left: 0;
	}

	li {
		margin-left: 2em;
		margin-top: 0.5em;
	}

	p {
		margin-bottom: 0;
		margin-top: 0.5em;

		&:first-child {
			margin-top: 0;
		}
	}

	&.is-success, // TODO fix this in pre-oss to be less bad
	&.is-error,
	&.is-warning,
	&.is-info {
		color: $white;

		span {
			color: inherit;
		}

		a,
		button.is-link {
			color: rgba( $white, 0.85 );

			&:hover,
			&:focus {
				color: $white;
			}
		}

		.dops-notice__dismiss {
			color: $white;
		}
	}
}

.dops-notice__button {
	cursor: pointer;
	margin-left: 0.428em;
}

// "X" for dismissing a notice
.dops-notice__dismiss {
	display: flex;
	padding: 9px 16px;
	cursor: pointer;
	color: $gray;

	background: transparent;
	border: none;
	border-radius: 0;

	@include breakpoint( ">660px" ) {
		padding: 13px 16px;
	}

	&:hover,
	&:focus {
		color: $gray-dark;
	}

	.dops-notice & {
		color: $gray;
		opacity: 0.85;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}
}

// Compact notices
.dops-notice.is-compact {
	margin-bottom: 8px;
	font-size: 14px;

	.dops-notice__text {
		padding: 11px 0px 11px 16px;
	}

	&::before {
		display: none;
	}

	.dops-notice__dismiss {
		padding: 9px 16px;
	}

	a.dops-notice__arrow-link .gridicon {
		width: 18px;
		height: 18px;
	}
}

// ArrowLink sub-component
// specificity for general `a` elements within notice is too great
.dops-notice a.dops-notice__arrow-link {
	background: rgba( 0, 0, 0, 0.2 );
	box-sizing: border-box;
	color: $white;
	cursor: pointer;
	display: flex;
		align-items: center;
	font-weight: 400;
	line-height: 1.2;
	margin-left: auto; // forces the element to the right;
	padding: 13px 10px 13px 16px;
	text-decoration: none;
	white-space: nowrap;

	.gridicon {
		margin-left: 8px;
	}

	&:hover,
	&:focus {
		background: rgba( 255, 255, 255, 0.2 );
	}
}
