@import '../../scss/typography';
@import '../../scss/layout';

@mixin form-wrapper {
	width: 100%;
}

@mixin form-error {
	border: 1px solid #dd3d36;
}

.dops-form {
	font-family: $sans;
}

.dops-form-section-title {
	font-size: 11px;
	font-weight: bold;
	color: #333;
	border-bottom: 1px solid #DDD;
	padding-bottom: 3px;
	margin-bottom: 5px;
	margin-top: 15px;
}

.dops-form-section-body {
	@include clear-fix;
}

.dops-form-checkbox {
	@include form-wrapper;

	input[type=checkbox] {
		margin-right: 10px;
	}
}

.dops-form-text {
	@include form-wrapper;

	input {
		width: 100%;
		box-shadow: none;
		background: #fff;
		border: 1px solid #d5d5d5;
		font-size: 12px;
		padding: 8px 10px;
	}	
}

.dops-form-select {
	@include form-wrapper;

	&.dops-form-inline {
		display: inline;

		select {
			width: auto;
			margin-right: 10px;
		}
	}

	select {
		border-radius: 3px;
		background-color: #fff;
		font-size: 12px;
		height: 35px;
		width: 100%;
		border: 1px solid #d5d5d5;
		padding: 3px 5px;
		min-width: 0;
	}
}

.dops-form-error {
	input {
		@include form-error;
	}

	select {
		@include form-error;
	}
}

.dops-form-errormessage {
	border: 1px solid #dd3d36;
	color: #a00;
	display: block;
	font-size: 12px;
	margin: 5px 0 0 0;
	padding: 5px;
}

.dops-form-label {
	@include form-wrapper;
	margin-bottom: 5px;
	position: relative;

	label {
		display: block;
		margin-top: 10px;
		float: none;
		font-size: 12px;
		margin-bottom: 10px;
		text-transform: uppercase;
		width: auto;

		&.floating {
			display: inline-block;
			text-transform: none;
			z-index: 2;
			position: absolute;
			top: 0;
			left: 0;
			font-weight: normal;
			height: 32px;
			padding: 7px 12px;
			margin: 0;
		}
		
		&.floating--floated {
			z-index: 0;
			font-weight: bold;
			left: auto;
			height: auto;
			padding: 0 12px;
			bottom: auto;
			font-size: 11px;
			opacity: 0;
			transition: top 250ms, opacity 250ms;
		}

		&.floating--floated-active {
			top: -16px;
			opacity: 1;
		}
	}
}

.dops-form-row {
	@include clear-fix;
}

.dops-form-actionbar {
	background: #f9f9f9;
	color: #aaa;
	padding: 15px 20px 15px 20px;
}

// floating label support
.dops-floating-label-input {
  position: relative;
  margin-top: 18px;
}

.dops-floating-label-input__input {
  position: relative;
  z-index: 1;
}




