// ==========================================================================
// VaultPress COLORS
// ==========================================================================

// Base VaultPress Reds
$vaultpress-red: #ac0300;
$vaultpress-darker-red: #8b000d;
$vaultpress-brighter-red: #e43832;

// Complementary reds
$red-orange: #f9504b; // MC navbar
$dull-red: #b7403e; // MC navbar border

// Blues
$bondi-blue: #0090ba;
$rich-electric-blue: #0d8cdd; // MC Buttons/links

// Oranges
$jazzy-orange: #f1831e;
$fire-orange: #d54e21;

// Grays
$platinum: #e2e2e2;
$anti-flash-white: #f1f1f1;
$white-smoke: #f9f9f9; // Great for backgrounds (file browser and fs.php)

// MC Validation and Alerts (only use for alerts/validation)
$alert-red: #ac0300;
// $alert-green: #5eaf46; // Old green
$alert-green: #57CC32;
$alert-orange: #ff9a00;
$alert-yellow: #f1e237;

// Akismet Colors
$akismet-green: #7C992E;
$akismet-brighter-green: #8eb22f;
