@import '../../scss/layout';

.dops-tabs-vertical {
	@include clear-fix;
	& > ul {
		@include clear-fix;
		width: 30%;
		float: left;

		& > li {
			list-style: none;
			margin: 0;

			& > a {
				display: block;
				border-left: 2px solid transparent;
				color: #999;
				margin: 0 10px 10px 0;
				padding: 4px 6px;
				text-decoration: none;
			}

			&.active a, &:hover a {
				color: black;
				background-color: #f9f9f9;
			}

			&.active a {
				border-color: black;
			}
		}
	}

	& > div {
		float: right;
		width: 70%;
	}
}

.dops-tabs-horizontal {
	@include clear-fix;
	& > ul {
		@include clear-fix;
		border-bottom: 1px solid #eee;
		margin-left: 0px;
		margin-top: 0px;
		clear: both;

		& > li {
			list-style: none;
			display: inline-block;

			& > a {
				color: #aaa;
				display: block;
				font-size: 14px;
				margin: 0 20px;
				padding: 15px 0;
				text-align: center;
				text-transform: uppercase;
				text-decoration: none;
			}

			&.active a, &:hover a {
				color: black;
			}

			&.active {
				border-bottom: 2px solid black;
			}
		}
	}

	@include breakpoint( "<480px" ) {
		text-align: center;
	}
}
